<div class="home-container">
  <h1 class="home-title">Welcome to LAN Messenger</h1>
  <p class="home-subtitle">Get started by entering your username below!</p>
  <div class="home-input-group">
    <input type="text" class="home-textbox" id="homeInput" placeholder="Username" />
    <button class="home-button" id="homeButton">Starts chatting!</button>
  </div>s
</div>
<link rel="stylesheet" href="/layout/templates/home/stylesheet/home.css" />
<script src="/layout/templates/home/script/frontend.js" defer></script>
